*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #FCFCFB;
}

button {
    background-color: #2DCDD7;
    border: none;
    border-radius: 4px;
    top: 10px;
    left: 10px;
    position: fixed;
    padding-top:4px;
}

.toast {
    background-color: #5D4036;
    font-size: 25px;
    border:none;
    border-radius:px;
    color: #FCFCFB;
    margin: 0.7rem;
    padding-left: 15px;
    padding-right: 15px;
}
