*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #FCFCFB;
   
}

button {
    background-color: #2DCDD7;
    border: none;
    border-radius: 4px;
    top: 10px;
    left: 10px;
    position: fixed;
    padding-top:4px;
   

}

.toast {
    background-color: #5D4036;
    font-size: 25px;
    border:none;
    border-radius:5px;
    color: #FCFCFB;
    margin: 0.7rem;
    padding-left: 15px;
    padding-right: 15px;
}


#container2 {
    background-color: #FFC300;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0px 10px 4px 10px;
    color: #FFFFFF;
    font-size: 25px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#container{
    
    
}